h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, blue, violet);
  text-align: center;
  padding: 1%;
}

h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.button{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  text-decoration: none;
}

p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  padding-inline: 1%;
}

body {
  background-color: rgb(66, 66, 66);
}

img {
  border-style: solid;
  color: rgb(197, 197, 197);
}

div.center {
  text-align: center;
}